@import url(./__nav/footer__nav.css);
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__cell/footer__cell.css);
.footer {
    display: flex;
    padding: 0 0 24px;
    margin: 0 48px;
    justify-content: space-between;
    max-height: 18px;
}

@media (max-width: 768px) {
    .footer {
        margin: 0 24px;
    }
}

@media (max-width: 717px) {
    .footer {
        max-height: 340px;
        margin: 0 0 0 24px;
        flex-direction: column;
    }
}